/*.header,*/ main, .footer {
   display: none; 
}

.hero {
    display: none; 
 }

@media (max-width: 800px) {
    .nav, .account {
        display: none;
    }
    
    .nav-button {
        display: block;
    }
 }